hr + p {
  color: red;
}

p ~ h2 {
  font-size: 20px;
}

footer a:hover {
  color: magenta;
}

input[type='checkbox']:checked {
  box-shadow: 0 0 0 3px orange;
}

.blah li:nth-last-of-type(2n) {
  background-color: magenta;
}
p::first-letter {
  color: blue;
  font-size: 30px;
}
