.container {
  background-color: red;
  width: 400px;
  height: 1700px;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  right: -50px;
  top: calc(50% - 50px);
  
}